@use '../../styles/helpers' as *;

.input, .btn {
    width: fluid(512, 256);
    height: fluid(64, 32);
    margin: fluid(10, 5);
}
.btn {
    border-radius: fluid(40, 80);
    background-color: var(--color-orange);
    color: var(--color-light);
    @include fluid-text(32, 16);

}