@use '../../styles/helpers' as *;

.input, .btn {
    max-width: fluid(510, 170);
    max-height: fluid(63, 21);
    width: fluid(480, 160);
    height: fluid(60, 20);
    margin: fluid(9, 3);
}
.btn {

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.8;
        pointer-events: none;
      }
    
    border-radius: fluid(40, 13.3);
    background-color: var(--color-orange);
    color: var(--color-light);
    @include fluid-text(33, 11);

    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    
    &:hover {
        transform: translateY(-2px); // Кнопка немного поднимается
        box-shadow: 0 fluid(4,1.33) fluid(8,2.66) rgba(0, 0, 0, 0.1); // Добавляем тень
        background-color: (var(--color-dark-orange));
        color: white !important;
        cursor: pointer;
    }
    
    &:active {
        transform: translateY(1px); // Кнопка "утапливается"
        box-shadow: 0 fluid(2,1) fluid(4,2) rgba(0, 0, 0, 0.1); // Уменьшаем тень
    }
}



