@use 'helpers' as *;
body {
    height: 100%;
    width: 100vw;
    font-family: var(--font-family-base);
    @include fluid-text(32, 16);
    letter-spacing: 0.03em;
    font-weight: 100;
    color: var(--color-light);
    overflow: hidden;
    #root {
        div {
            .background {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1; // Фон будет позади контента
                background-color: var(--color-blue);
                &__image {
                    opacity: 0.35;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
            
                    &--front{
                        background-image: url('../assets/background1.jpg');
                        z-index: 2; // Первая картинка поверх второй
                    }
            
                    &--back {
                        background-image: url('../assets/background2.jpg');
                        z-index: 1; // Вторая картинка позади первой
                        transform: rotate(180deg); // Переворачиваем на 180 градусов
                    }
                }
            }
            .grid-container {
                @include flex-center(false, false);
                height: 100vh;
                .navbar {

                    display: flex;
                    justify-content: end;
                    align-items: center;
                    position: fixed;
                    z-index: 3 !important;;
                    top: 0;
                    left: 0;
                    opacity: 0.8;
                    background-color: var(--color-dark-blue);
                    width: 100%;
                    height: rem(64);

                    &__login-icon {
                        @include mobile {
                            display: none;
                        }
                        position: relative;
                        overflow: hidden;
                        width: fluid(81.2, 54.13); // Ширина блока
                        height: fluid(64, 42.6); // Высота блока
                        background-size: 100% 100%; // Растягиваем изображение на весь блок
                        background-position: center; // Центрируем изображение
                        background-repeat: no-repeat; // Запрещаем повторение изображения
                        background-image: url('../assets/login-icon.png');
                        left: fluid(28, 14);
                        cursor: pointer;
                        background-color: rgba(0,0,0,0);
                        &:hover + &__login-button {  // При наведении на иконку меняем кнопку
                            background-color: var(--color-purple)
                          }


                    }

                    &__make-doc {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%); 
                        background: none;
                        color: var(--color-light);
                        transition: all 0.3s ease; // Плавные анимации для всех изменений
                        border: none;

                        // Стили при наведении
                        &:hover {
                            background-color: var(--color-purple);
                            border-radius: fluid(10, 5);
                            color: var(--color-accent); // Яркий цвет при наведении
                            transform: translateX(-50%) scale(1.05); // Легкое увеличение
                        }

                        // Стили при активном нажатии
                        &:active {
                            color: var(--color-accent-dark); // Темнее обычного
                            transform: translateX(-50%) scale(0.98); // Эффект "нажатия"
                        }

                        // Дополнительно: стили для фокуса (доступность)
                        &:focus-visible {
                            outline: 2px solid var(--color-accent);
                            outline-offset: 2px;
                        }
                    }

                    &__login-button {
                        background: none;
                        border: none;
                        color: var(--color-light); /* Цвет текста */
                        @include fluid-text(24,12);
                        cursor: pointer;
                        margin: fluid(12, 6) 0;
                        margin-right: fluid(40, 20);
                        border-radius: 5px;
                        transition: background-color 0.3s;
                        padding-left: fluid(20, 10);

                        appearance: none; // Убирает стандартную стрелку
                        -webkit-appearance: none;
                        -moz-appearance: none;

                        &:hover, &:active, &:focus {
                            background-color: var(--color-purple);
                            
                          }
                        option {
                            background-color: rgba(0, 42, 73, 0.9);
                            cursor: pointer;
                          }
                        }
                }

                &__content {
                    @include flex-center(false, false);
                    @include mobile {
                        @include flex-center(false, true);
                        gap: 0;
                        header {
                            h1, ul {
                                margin: 0;
                                padding: 0;
                                br {
                                    display: none;
                                  }
                            }
                           
                            display: inline-flex;
                            * {text-align: center;}
                            ul li::marker {

                                content: none;
                            }
                        }
                        .form {
                            margin-top: 0;
                        }
                    }
                    
                    gap: fluid(250, -78);
                    max-width: rem(1920);
                    max-height: rem(1080);
                    header, .form {
                        z-index: 4;
                        margin-top: rem(64);
                    }
                    header {
                        @include flex-center(true, true);
                        h1 {
                            // Эффект при наведении
                            &:hover {
                                transform: scale(1.1); // Увеличение размера текста
                                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); // Тень для текста

                                // Анимация для каждой строки
                                &::before,
                                &::after {
                                width: 100%; // Подчеркивание на всю ширину
                                opacity: 1; // Появление подчеркивания
                                }
                            }

                            // Подчеркивание сверху
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 3px;
                                background-color: var(--color-orange); // Цвет подчеркивания
                                transition: width 0.5s ease, opacity 0.5s ease;
                                opacity: 0;
                            }

                            // Подчеркивание снизу
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 0;
                                height: 3px;
                                background-color: var(--color-orange); // Цвет подчеркивания
                                transition: width 0.5s ease, opacity 0.5s ease;
                                opacity: 0;
                            }
                        }
                        div {
                            width: 100%;
                            ul {
                                li {
                                    position: relative;
                                    letter-spacing: rem(3);
                                    font-family: var(--font-family-accent);
                                    font-weight: 100;
                                    line-height: 2;
                                    &::marker {
                                        font-size: 0.5em;
                                    }
                                    @include fluid-text(28,14);

                                    &:hover {
                                        color: #fff; // Изменение цвета текста
                                        background-color: rgba(223, 134, 39, 0.5);
                                        transform: scale(1.1); // Увеличение размера
                                        box-shadow: 0 4px 15px var(--color-orange); // Тень
                                  
                                        // Подчеркивание
                                        &::after {
                                          width: 100%; // Подчеркивание на всю ширину
                                          opacity: 1; // Появление подчеркивания
                                        }
                                      }
                                  
                                      // Подчеркивание
                                      &::after {
                                        content: '';
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        width: 0;
                                        height: 3px;
                                        background-color: #fff; // Цвет подчеркивания
                                        transition: width 0.3s ease, opacity 0.3s ease;
                                        opacity: 0;
                                      }

                                }

                            }  
                        }
                       
                    }
                }                
            }
            
        }
    }
}


h1 {
    @include fluid-text(64, 32);
}

h2 {
    @include fluid-text(48, 24);

}

h3 {
    @include fluid-text(32, 16);
}

h2, h3 {
    font-weight: 100;
    font-family: var(--font-family-accent);
    letter-spacing: fluid(4, 2);
}


.error {
    font-weight: 666;
    color:rgb(255, 0, 0);
    font-size: fluid(20,10);
    text-indent: rem(20);
}


//  Стили ErrorModal.jsx

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    color:black;
    background: var(--color-light-2);
    padding: fluid(20, 10);
    border-radius: fluid(8, 4);
    max-width: 400px;
    width: 100%;
    box-shadow: 0 fluid(2, 1) fluid(10, 5) rgba(0, 0, 0, 0.1);

    &__content {
        @include flex-center(false, true);
    }
  }
  
  .modal-button {
    margin-top: fluid(15, 7.5);
    padding: fluid(8, 4) fluid(16, 8);
    background: var(--color-blue);
    color: white;
    border: none;
    border-radius: fluid(4, 2);
    cursor: pointer;
  }
  


.form-valid {
    opacity: 1 !important;
}

.back-button {
    width: fluid(80, 40);
    height: fluid(80, 40);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: fluid(24, 12);
      height: fluid(24, 12);
      border-left: fluid(4, 2) solid white;
      border-bottom: fluid(4, 2) solid white;
      transform: translate(-25%, -50%) rotate(45deg);
    }
    
    &:hover {
      opacity: 0.8;
    }
    
    &:active {
      opacity: 0.6;
    }
  }

textarea {
    margin: fluid(10, 5);
    @include fluid-text(24, 12);
    width: fluid(468, 234);
    height: fluid(120, 60);
    border-radius: fluid(10, 5);
}

.text-areas {
    display: flex;
    justify-content: center;
}

.big-placeholder::placeholder {
    @include fluid-text(18,9);
}