@use 'helpers' as *;
body {
    font-family: var(--font-family-base);
    @include fluid-text(32, 18.6);
    letter-spacing: 0.03em;
    font-weight: 100;
    color: var(--color-light);
    #root {
        div {
            .background {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1; // Фон будет позади контента
                background-color: var(--color-blue);
                &__image {
                    opacity: 0.35;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
            
                    &--front{
                        background-image: url('../assets/background1.jpg');
                        z-index: 2; // Первая картинка поверх второй
                    }
            
                    &--back {
                        background-image: url('../assets/background2.jpg');
                        z-index: 1; // Вторая картинка позади первой
                        transform: rotate(180deg); // Переворачиваем на 180 градусов
                    }
                }
            }
            .grid-container {

                display: grid;
                grid-template-rows: auto 1fr; // Первая строка занимает свою высоту, вторая — оставшееся пространство
                grid-template-columns: 1fr 1fr; // Два столбца равной ширины
                height: 100vh; // Высота контейнера на весь экран (по желанию)

                &__item {
                    padding: 16px;
                }      

                .navbar {
                    grid-column: 1 / -1; // Занимает всю ширину (все столбцы)
                    position: relative;
                    top: 0;
                    left: 0;
                    opacity: 0.8;
                    background-color: var(--color-dark-blue);
                    width: rem(1920);
                    height: rem(65);
                }
                header {
                    @include flex-center(false, true);
                    ul {
                        li {
                            position: relative;
                            letter-spacing: rem(3);
                            font-family: var(--font-family-accent);
                            font-weight: 100;
                            line-height: 2;
                            left: rem(-125);
                            &::marker {
                                font-size: 0.5em;
                            }
                            @include fluid-text(28, 12);
                        }

                    }

    
                }
                
            }
            
        }
    }
}


h1 {
    @include fluid-text(64, 37.3);
}

h2 {
    @include fluid-text(48, 28);
}

h3 {
    @include fluid-text(32, 18.6);
}

