// CustomPrompt.scss
@use 'helpers' as *;
.prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
    .prompt-modal {
      background: white;
      padding: fluid(20, 6.66);
      border-radius: fluid(8, 2.66);
      width: fluid(500, 166.6);
      box-shadow: 0 fluid(2,1) fluid(10,3.3) rgba(0, 0, 0, 0.1);

      h3 {
        letter-spacing: fluid(2,1);
        text-align: center;
        font-family: var(--font-accent);
        margin-top: 0;
        color: #333;
      }
  
      .prompt-input {
        width: 100%;
        padding: fluid(8,2.66);
        margin: fluid(24, 8) 0;
        border: rem(1) solid #ccc;
        border-radius: fluid(4, 1.33);
      }
  
      .prompt-buttons {
        display: flex;
        justify-content: flex-end;
        gap: fluid(12, 4);
        margin-top: fluid(24, 8);
  
        .prompt-button {
          padding: fluid(6, 2) fluid(12, 4);
          border: none;
          border-radius: fluid(4, 1.33);
          cursor: pointer;
  
          &.confirm {
            background:#1890ff;
            color: var(--color-light)
          }
  
          &.cancel {
            background: var(--color-light-1);
          }
        }
      }
    }
  }