@use 'helpers' as *;

.form {
    justify-content: end;
    #createDoc {
        margin: 0;        
    }   

    &__img-notebook {
        top: 0;
        left: fluid(200, 99);
    }



    &__buttons {
        @include flex-center(false, true);
        margin-bottom: fluid(100, 50);
        Button {
            background-color: var(--color-light-grey);
            color: black;
            border-radius: fluid(24,12);
            @include fluid-text(36,18)
        }
        Button:hover {
            color: var(--color-light);
        }

    } 
    
   

    &__decorative-image {
        transform: rotate(180deg);
        border-radius: fluid(100, 50) fluid(25, 12.5);
        position: relative;
        opacity: 0.9;
        overflow: hidden;
        width: fluid(600, 300); // Ширина блока
        height: fluid(290.1, 145); // Высота блока
        background-image: url('../assets/orange-tringle.png');
        background-size: 100% 100%; // Растягиваем изображение на весь блок
        background-position: center; // Центрируем изображение
        background-repeat: no-repeat; // Запрещаем повторение изображения
      }

    &__createDoc {
        width: fluid(600, 300);
        height: fluid(775, 387.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__doc-data {
        height: fluid(400, 200);
        @include flex-center(false, true);
        .select-wrapper {
            position: relative;
            width: fluid(512, 256);
            margin: fluid(10, 5);

          
            &::after {
              content: "▼";
              position: absolute;
              right: rem(12);
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              color: #555;
              @include fluid-text(20, 10);
            }
          
            select {
              text-indent: rem(8);
              width: 100%;
              padding: fluid(10, 5) fluid(15, 7.5);
              border-radius: fluid(20, 10);

              border: rem(1) solid var(--color-light-grey);
              background-color: var(--color-light-grey);
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              cursor: pointer;
          
              &:hover {
                border-color: var(--color-grey);
              }
          
              &:focus {
                outline: none;
                border-color: var(--color-blue);
                box-shadow: 0 0 rem(5) rgba(0, 123, 255, 0.5);
              }
          
              // Стили для disabled
              &:disabled {
                background-color: #f5f5f5;
                cursor: not-allowed;
              }
            }
        }
    }
}

#addDoc {
    
    background-image: url('../assets/add-doc.png');
}
#selectDoc {
    background-image: url('../assets/select-doc.png');
}

#back_and_cont {
    margin: 0;
    width:  fluid(512, 256);
    * {
        background-color: var(--color-orange);
        color: var(--color-light);
    }
    .btn:first-child {
        margin-left: 0;
    }
    .btn:last-child {
        margin-right: 0;
    }
}

.document-data-form {

    .form-firm {
        display: flex;
        input {
            width: fluid(500, 200);
            
        }
        div {
            flex: 1;
        }

    }

    @include mobile {
    margin-bottom: rem(50);
    margin-top: rem(50);
    overflow-y:hidden;

    }
    margin: 0 fluid(60, 10);
    display: flex;
    flex-direction: column;
    max-height: rem(666);
    overflow-y: auto;

    padding-right: fluid(10, 0);
    scrollbar-width: thin;
    scrollbar-color: #888 #f5f5f5;
    .form-row {
        @include flex-center(false, false);
        @include mobile {
            flex-wrap: wrap; /* Перенос на новую строку */
            flex-direction: column
        }
        input {
            margin: fluid(10, 3) fluid(10, 3);
            @include fluid-text(28, 8);
            border-radius: fluid(10, 4);
            text-indent: fluid(10, 3);
            }

        input::placeholder {
            font-size: fluid(16,4);

            @include mobile {
                font-size: fluid(21,10);
            }

            }
       
    }
    
}

.form-actions {
    margin-bottom: fluid(20, 10);
    align-self: center;
    button {
        @include fluid-text(28, 14);
        width: fluid(400, 200);
        height: fluid(52, 26);
        border-radius: fluid(14, 7);
    }
}


.document-data-form::-webkit-scrollbar {
    width: 8px;
}

.document-data-form::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 4px;
}

.document-data-form::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.document-data-form::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#data-block, #oneInput{
    width: 70%;
    height: 70%;
    h4 {
        @include fluid-text(28,14);
    }
    @include mobile {
        justify-content: start;
    }
    
}

#oneInput {
    width: 30%;
    height: 70%;
}

#dataForm {
    height: 92.5vh;
    border-radius: 0%;
    input {
        margin: fluid(12, 6) fluid(10, 5);
        @include fluid-text(24,12);
    }

    .contractDate {
        display: flex;
        align-items: center;
        input:last-of-type {
            text-indent: fluid(6,3);
            width: fluid(260,130);
        }
        span {
            margin-left: fluid(14,7);
        }
    }
    .array-item {
        margin-bottom: fluid(30,15);
        display: flex;
        button {
            background: none;
            color: white;
            @include fluid-text(50,25);
            margin-left: 0 ;
        }
        div {
            margin-left: fluid(30, 15);
        }
        
    }
    .array-ite {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        margin-bottom: fluid(30,15);
        button {
            background: none;
            color: white;
            @include fluid-text(50,25);
        }
        textarea {
            margin-top: fluid(70, 35) !important;
            }
        &__item {
            display: flex;
            margin: 0;
            
        }        
        &__inside-item {
           
            display: flex;
            flex-direction: row;
            justify-content: end;
            span {
                white-space: nowrap;
                margin: 0 fluid(10,5);
                align-self: center;

            }
            input {
                width: fluid(396, 188);
            }
            select {
                text-indent: rem(20);
                width: fluid(224, 112);
                margin: fluid(12, 6);
            }
            .dropdown-error-message {
                bottom: fluid(-90, -45);
            }

        }      
    }
    #add-spec {
        @include fluid-text(28, 14);
        width: fluid(400, 200);
        height: fluid(52, 26);
        border-radius: fluid(14, 7);
    }
}



.section-data {
    display: flex;
    justify-content: center;
    gap: fluid(70, 20);
    &__input, &__calendar{
        display: flex;
        flex-direction: column;
    }

    &__calendar {


        h4 {
            margin: 0;
        }
        
        .range-date-picker {
            @include fluid-text(20, 10);

            color: black;
            font-family: Arial, sans-serif;
            max-width: fluid(500, 250);
            margin: fluid(20, 10) 0;
            background-color: var(--color-light-2);
            border-radius: fluid(10, 5);
            padding: fluid(20,10);
            box-shadow: 0 fluid(2,1) fluid(10, 5) rgba(0, 0, 0, 0.1);
            hr {
                margin: fluid(10, 2);
            }
          }
          
          .calendar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            
          }
    
          .month-year {
            font-weight: bold;
          }
  
          .nav-button {
            background: none;
            border: none;
            font-size: 1.2em;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 4px;
          }
          
          .nav-button:hover {
            background-color: #f0f0f0;
          }
          
          .weekdays {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            text-align: center;
            font-weight: bold;
            margin-bottom: 5px;
            color: var(--color-grey);
            
          }
          .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
          }
          
          .calendar-day {
            padding: 8px;
            text-align: center;
            cursor: pointer;
            border-radius: 4px;
            transition: all 0.2s;
            background-color: var(--color-light-grey);
          }
          
          .calendar-day:hover {
            background-color: var(--color-auqa);
          }
          
          .empty-day {
            visibility: hidden;
          }
          
          .past-day {
            color: #999;
          }
          
          .start-date {
            background-color: var(--color-blue);
            color: white;
            font-weight: bold;
          }
          
          .end-date {
            background-color: var(--color-blue);
            color: white;
            font-weight: bold;
          }
          
          .in-range {
            background-color: var(--color-orange);
            color: white;
          }
          
          .selected-range {
            margin-top: 15px;
            padding: 10px;
            border-radius: 4px;
            text-align: center;
            font-size: 0.9em;
          }
    }

    .date-input {
        input {
            width: fluid(280, 140);
        }

    }

    .data-select {
        transition: background-color 0.3s ease;
        border: none;
        border-radius: fluid(20, 10);
        background-color: var(--color-light-grey);
        height: fluid(64, 32);
        width: fluid(512, 256);
        margin: fluid(10, 5);
        cursor: pointer;
        padding: fluid(10, 5) fluid(15, 7.5);
        border: rem(1) solid var(--color-light-grey);

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        
        
            &:hover {
              border-color: var(--color-grey);
            }
        
            &:focus {
              outline: none;
              border-color: var(--color-blue);
              box-shadow: 0 0 rem(5) rgba(0, 123, 255, 0.5);
            }
        
            // Стили для disabled
            &:disabled {
              background-color: #f5f5f5;
              cursor: not-allowed;
            }
        
    }
}

#two-form-section {
    display: flex;
    justify-content: space-around;
    div {
        flex: 1;
        
    };
    input {
        width: fluid(380,190);
    }
   
}

.dropdown-container {
    display: flex;
    justify-content: end;
    margin-right: fluid(10, 5);
}

.input-container, .dropdown-container {
        position: relative;
        width: 100%;
    }
.input-error, .dropdown-error {
    border: rem(1) solid #ff4444;
}
.error-message, .dropdown-error-message {
    font-style: italic;
    color: #ff4444;
    @include fluid-text(18,9);
    margin-top: fluid(4,2);
    position: absolute;
    bottom: -12px;
    left: 0;
    z-index: 20;
  }

.template-fields {
    input.input, .dropdown-menu.data-select {
    width: fluid(480, 240);
    height: fluid(60.3, 30);
    border-radius: fluid(16, 8);
    }
}

.dropdown-menu.data-select {
    @include fluid-text(24, 12);
    height: fluid(20, 10);
    margin-left: 0;
}