@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  border: none;
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-light-1: #F5F5F5;
  --color-light-2: #E7E7E7;
  --color-dark: black;
  --color-orange: #DF8627;
  --color-purple: #A998F4;
  --color-grey: #888888;
  --color-light-grey: #D9D9D9;
  --color-auqa: #27B7DF;
  --color-blue:#005999;
  --color-light-blue:#161f25;
  --color-dark-blue:#002A49;
  --font-family-base: "Cuprum", "sans-serif";
  --font-family-accent: "Forum", "sans-serif";
  --container-width: 87.5rem;
  --container-padding-x: 1rem ;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 70rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 48.06125rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 48.06125rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  height: 100%;
  width: 100vw;
  font-family: var(--font-family-base);
  font-size: clamp(1rem, 0.7450980392rem + 1.045751634vw, 2rem);
  letter-spacing: 0.03em;
  font-weight: 100;
  color: var(--color-light);
  overflow: hidden;
}
body #root div .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-blue);
}
body #root div .background__image {
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
body #root div .background__image--front {
  background-image: url("../assets/background1.jpg");
  z-index: 2;
}
body #root div .background__image--back {
  background-image: url("../assets/background2.jpg");
  z-index: 1;
  transform: rotate(180deg);
}
body #root div .grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body #root div .grid-container .navbar {
  display: flex;
  justify-content: end;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: var(--color-dark-blue);
  width: 100%;
  height: 4rem;
}
body #root div .grid-container .navbar__login-button {
  background: none;
  border: none;
  color: var(--color-light); /* Цвет текста */
  font-size: clamp(0.75rem, 0.5588235294rem + 0.7843137255vw, 1.5rem);
  cursor: pointer;
  margin: clamp(0.375rem, 0.2794117647rem + 0.3921568627vw, 0.75rem);
  margin-right: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
  border-radius: 5px;
  transition: background-color 0.3s;
}
body #root div .grid-container .navbar__login-button:hover {
  background-color: var(--color-purple); /* Цвет фона при наведении */
}
body #root div .grid-container__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(-4.875rem, -10.1004901961rem + 21.4379084967vw, 15.625rem);
  max-width: 120rem;
  max-height: 67.5rem;
}
@media (width <= 48.06125rem) {
  body #root div .grid-container__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  body #root div .grid-container__content header {
    display: inline-flex;
  }
  body #root div .grid-container__content header h1, body #root div .grid-container__content header ul {
    margin: 0;
    padding: 0;
  }
  body #root div .grid-container__content header h1 br, body #root div .grid-container__content header ul br {
    display: none;
  }
  body #root div .grid-container__content header * {
    text-align: center;
  }
  body #root div .grid-container__content header ul li::marker {
    content: none;
  }
  body #root div .grid-container__content .form {
    margin-top: 0;
  }
}
body #root div .grid-container__content header, body #root div .grid-container__content .form {
  z-index: 4;
  margin-top: 4rem;
}
body #root div .grid-container__content header {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #root div .grid-container__content header h1:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
body #root div .grid-container__content header h1:hover::before, body #root div .grid-container__content header h1:hover::after {
  width: 100%;
  opacity: 1;
}
body #root div .grid-container__content header h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-orange);
  transition: width 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}
body #root div .grid-container__content header h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-orange);
  transition: width 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}
body #root div .grid-container__content header div {
  width: 100%;
}
body #root div .grid-container__content header div ul li {
  position: relative;
  letter-spacing: 0.1875rem;
  font-family: var(--font-family-accent);
  font-weight: 100;
  line-height: 2;
  font-size: clamp(0.875rem, 0.6519607843rem + 0.9150326797vw, 1.75rem);
}
body #root div .grid-container__content header div ul li::marker {
  font-size: 0.5em;
}
body #root div .grid-container__content header div ul li:hover {
  color: #fff;
  background-color: rgba(223, 134, 39, 0.5);
  transform: scale(1.1);
  box-shadow: 0 4px 15px var(--color-orange);
}
body #root div .grid-container__content header div ul li:hover::after {
  width: 100%;
  opacity: 1;
}
body #root div .grid-container__content header div ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

h1 {
  font-size: clamp(2rem, 1.4901960784rem + 2.091503268vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 1.1176470588rem + 1.568627451vw, 3rem);
}

h3 {
  font-size: clamp(1rem, 0.7450980392rem + 1.045751634vw, 2rem);
}

.error {
  font-weight: 666;
  color: rgb(255, 0, 0);
  font-size: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  text-indent: 1.25rem;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(18.75rem, 13.9705882353rem + 19.6078431373vw, 37.5rem);
  height: clamp(24.21875rem, 18.0453431373rem + 25.3267973856vw, 48.4375rem);
  background-color: var(--color-dark-blue);
  opacity: 0.8;
  border-radius: clamp(3.125rem, 2.3284313725rem + 3.2679738562vw, 6.25rem) clamp(0.78125rem, 0.5821078431rem + 0.8169934641vw, 1.5625rem);
  box-shadow: 0 0 clamp(0.46875rem, 0.3492647059rem + 0.4901960784vw, 0.9375rem) var(--color-orange);
}
.form__top {
  border-radius: clamp(3.125rem, 2.3284313725rem + 3.2679738562vw, 6.25rem) clamp(0.78125rem, 0.5821078431rem + 0.8169934641vw, 1.5625rem);
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100%;
}
.form__text {
  margin-bottom: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
}
.form__text h2 {
  font-weight: 100;
  font-family: var(--font-family-accent);
  text-align: center;
  margin: 0 0 clamp(0.46875rem, 0.3492647059rem + 0.4901960784vw, 0.9375rem) 0;
  letter-spacing: clamp(0.125rem, 0.0931372549rem + 0.1307189542vw, 0.25rem);
}
.form__main {
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(2.1875rem, 1.6299019608rem + 2.2875816993vw, 4.375rem);
}
.form__down {
  display: flex;
  justify-content: space-between;
  margin: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem) clamp(0.3125rem, 0.2328431373rem + 0.3267973856vw, 0.625rem);
}

.form__img-line {
  position: relative;
  width: clamp(13.46875rem, 10.0355392157rem + 14.0849673203vw, 26.9375rem);
  height: clamp(2.3rem, 1.7137254902rem + 2.4052287582vw, 4.6rem);
  background-image: url("../assets/orange-line.png");
  transform: rotate(162deg) translate(clamp(4.6875rem, 3.4926470588rem + 4.9019607843vw, 9.375rem), clamp(1.5625rem, 1.1642156863rem + 1.6339869281vw, 3.125rem));
}

.form__img-notebook {
  position: absolute;
  width: clamp(6.34375rem, 4.7267156863rem + 6.6339869281vw, 12.6875rem);
  height: clamp(4.59375rem, 3.4227941176rem + 4.8039215686vw, 9.1875rem);
  background-image: url("../assets/doc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(3deg) translate(clamp(6.21875rem, 4.6335784314rem + 6.5032679739vw, 12.4375rem), clamp(-0.96875rem, -0.7218137255rem + -1.0130718954vw, -1.9375rem));
}

.forget_password, #registration {
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  font-size: clamp(0.75rem, 0.5588235294rem + 0.7843137255vw, 1.5rem);
}

#backBtn {
  font-size: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
}

.form {
  justify-content: end;
}
.form #createDoc {
  margin: 0;
}
.form__img-notebook {
  top: 0;
  left: clamp(6.1875rem, 4.5784313725rem + 6.6013071895vw, 12.5rem);
}
.form__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: clamp(3.125rem, 2.3284313725rem + 3.2679738562vw, 6.25rem);
}
.form__buttons Button {
  background-color: var(--color-light-grey);
  color: black;
  border-radius: clamp(0.75rem, 0.5588235294rem + 0.7843137255vw, 1.5rem);
  font-size: clamp(1.125rem, 0.8382352941rem + 1.1764705882vw, 2.25rem);
}
.form__decorative-image {
  transform: rotate(180deg);
  border-radius: clamp(3.125rem, 2.3284313725rem + 3.2679738562vw, 6.25rem) clamp(0.78125rem, 0.5821078431rem + 0.8169934641vw, 1.5625rem);
  position: relative;
  opacity: 0.9;
  overflow: hidden;
  width: clamp(18.75rem, 13.9705882353rem + 19.6078431373vw, 37.5rem);
  height: clamp(9.0625rem, 6.7508578431rem + 9.4836601307vw, 18.13125rem);
  background-image: url("../assets/orange-tringle.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#addDoc {
  background-image: url("../assets/add-doc.png");
}

#selectDoc {
  background-image: url("../assets/select-doc.png");
}

.input, .btn {
  width: clamp(16rem, 11.9215686275rem + 16.7320261438vw, 32rem);
  height: clamp(2rem, 1.4901960784rem + 2.091503268vw, 4rem);
  margin: clamp(0.3125rem, 0.2328431373rem + 0.3267973856vw, 0.625rem);
}

.btn {
  border-radius: clamp(1.25rem, 0.931372549rem + 1.3071895425vw, 2.5rem);
  background-color: var(--color-orange);
  color: var(--color-light);
  font-size: clamp(1rem, 0.7450980392rem + 1.045751634vw, 2rem);
}

.input {
  border: none;
  text-indent: 1.25rem;
  border-radius: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  background-color: var(--color-light-grey);
}

/*# sourceMappingURL=main.css.map */
