@use 'helpers' as *;
#profile {
    
    

    gap: fluid(100, 0) !important;
    .avatar-block {

        @include mobile {
            display: none;
        } 

        margin-top: rem(64);
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__icon {
            width: fluid(200, 57.1);
            height: fluid(200, 57.1);
            background-image: url('../assets/Avatar.png');
            background-size: 100% 100%; // Растягиваем изображение на весь блок
            background-position: center; // Центрируем изображение
            background-repeat: no-repeat; // Запрещаем повторение изображения
        }
        span {
            white-space: nowrap;
        }
    }
    
    .main-content {
        @include mobile {
            position: absolute;
            top: 0;
            margin-top: fluid(150, 75);
        } 
        box-shadow: 0 0 fluid(15, 7.5) var(--color-orange);
        border-radius: fluid(30,8.5);
        opacity: 0.9;
        margin-top: rem(64);
        width: fluid(1250, 357.1);
        height: fluid(750, 214.2);
        background-color: var(--color-dark-blue);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .tabs {
            gap: fluid(30, 8.5);
            display: flex;
            margin: fluid(80, 22.8) 0 0 fluid(80, 22.8);
            &__button {
                background: none;
                color: var(--color-ligth);
                letter-spacing: fluid(4, 1.1);
                @include fluid-text(40, 11.4);
                padding: 0;
                .line {
                    width: 100%;
                    height: fluid(6, 1.7);
                    background-color: var(--color-grey);
                }
                .line.active {
                    background-color: var(--color-auqa);
                }
            }
        }
        
        .tab-content {
            margin: fluid(40, 11.4) fluid(80, 22.8);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .data-tab {
                margin-bottom: fluid(150, 42.8);
                &__item {
                    margin: fluid(20, 5.7) 0;
                }

                &__login, &__email, &__fio {
                    margin-right: fluid(80, 22.8);
                    @include fluid-text(32, 9.1);
                }
            }

            &__down {
                display: flex;
                justify-content: space-between;
                align-items: end;
                #edit {
                    width: fluid(360, 102.8);
                    height: fluid(64, 18.2);
                    border-radius: fluid(40, 11.4);
                    @include fluid-text(32, 9.1);
                    position: relative;
                    top: fluid(0, -30);

                }
            }

            .documents-tab {
                gap: fluid(82, 10);
                @include flex-center(false, true);
                &__docs {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include mobile {
                        justify-content: space-around;

                    }
                }
                
                &__docs-item {
                    width: fluid(231.8, 85.5);
                    height: fluid(328, 121.4);
                    background-color: azure;
                    border: fluid(3, 1.5) solid var(--color-grey);

                    transition: 
                    transform 0.2s ease-in-out,
                    border 0.2s ease-in-out;
                }
                &__docs-item:last-of-type {
                    @include mobile {
                        display: none;
                    }
                }

                &__docs-item:hover {
                    transform: scale(1.1);
                    border: fluid(4, 2) solid var(--color-auqa);
                    cursor: pointer;
                }

                &__show-more {
                    @include flex-center(false, false);
                    button {
                        display: flex;
                        align-items: center;
                        text-indent: fluid(30, 15);
                        padding: 0;
                        background: none;
                        color: white;
                        font-family: var(--font-family-accent);
                        font-weight: 575;
                        @include fluid-text(20, 10);

                        transition: 
                        transform 0.2s ease-in-out,
                        text-decoration 0.2s ease-in-out;

                        img {
                            position: absolute;
                            max-width: fluid(24, 12);
                            height: fluid(24, 12);
                    }
                }
                button:hover {
                    transform: scale(1.1);
                    text-decoration: underline var(--color-auqa);
                    
          
                }
            }
        }

        .tabs {
            margin: fluid(80, 22.8) 0 0 fluid(80, 22.8);
        }
    }
}

#data-img {
    width: fluid(203, 58);
    height: fluid(147, 42);
    left: 0;
    top: fluid(0, -30);
    position: relative;
    transform:  translate(0, 0);
    }
}
